* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #000;
}

video {
    // width: 100%;
    // height: 100vh;
    position: absolute;
	transform: rotate(90deg);

	transform-origin: bottom left;
	width: 100vh;
	height: 100vw;
	margin-top: -100vw;

	visibility: visible;
}

.controllers {
	transform: rotate(90deg);
	transform-origin: bottom left;
	width: 100vh;
	height: 100vw;
	margin-top: -100vw;
    // width: 100%;
    // height: 100vh;
    // top: 0;
    // left: 0;
	transition: all 0.3s;

	position: fixed;
	background: rgba(#000, 0.3);
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	justify-content: center;
	padding: 15px;

	.overlay {
		position: absolute;
		width: 100%;
		top: 0;
		height: 100%;
		left: 0;
		z-index: -1;
	}

	i {
		color: #FFF;
        font-size: 20px;
	}

	div {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.controlls {
		max-width: 400px;
		width: 100%;
		margin-bottom: 25px;

		i {
			font-size: 30px;
			color: rgba(#FFF, 0.85);
		}

		.play-button {
			font-size: 60px;
			color: #FFF;
		}
	}

	.info {
		p, span {
			text-align: center;
			width: 70px;
			color: #FFF;
			margin: 0;
		}

		.bar {
			width: calc(100% - 160px);
			height: 5px;
			background: rgba(#FFF, 0.5);

			.progress {
				width: 0;
				height: 100%;
				background: #5956ff;
			}
		}
	}

	.nav {
		opacity: 0.9;

		div {
			width: auto;
		}

		i {
			font-size: 25px;
			padding: 0 10px 10px 10px;
		}
	}
}